In [4]:
import pandas as pd
from pathlib import Path
import numpy as np
import seaborn as sns
from pandas_datareader import data as wb
from datetime import datetime, timedelta
import json
import requests
import random
import os

/opt/anaconda3/lib/python3.7/site-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [5]:
csv_path = Path('S&P500.csv')
sp500 = pd.read_csv(csv_path)
sp500

    Symbol                    Name                  Sector
0      MMM              3M Company             Industrials
1      AOS         A.O. Smith Corp             Industrials
2      ABT     Abbott Laboratories             Health Care
3     ABBV             AbbVie Inc.             Health Care
4      ACN           Accenture plc  Information Technology
..     ...                     ...                     ...
500    XYL              Xylem Inc.             Industrials
501    YUM         Yum! Brands Inc  Consumer Discretionary
502    ZBH  Zimmer Biomet Holdings             Health Care
503   ZION           Zions Bancorp              Financials
504    ZTS                  Zoetis             Health Care

[505 rows x 3 columns]

In [6]:
grouped_sectors = sp500.groupby(['Sector']).count()
grouped_sectors

                            Symbol  Name
Sector
Consumer Discretionary          84    84
Consumer Staples                34    34
Energy                          32    32
Financials                      68    68
Health Care                     61    61
Industrials                     67    67
Information Technology          70    70
Materials                       25    25
Real Estate                     33    33
Telecommunication Services       3     3
Utilities                       28    28

In [7]:
index = sp500.index.values.tolist()

In [8]:
index.sort()

In [9]:
index = ['A', 'AAL', 'AAP', 'AAPL', 'ABBV', 'ABC', 'ABT', 'ACN', 'ADBE', 'ADI', 'ADM', 'ADP', 'ADS', 'ADSK', 'AEE', 'AEP', 'AES', 'AET', 
         'AFL', 'AGN', 'AIG', 'AIV', 'AIZ', 'AJG', 'AKAM', 'ALB', 'ALGN', 'ALK', 'ALL', 'ALLE', 'ALXN', 'AMAT', 'AMD', 'AME', 'AMG', 
         'AMGN', 'AMP', 'AMT', 'AMZN', 'ANDV', 'ANSS', 'ANTM', 'AON', 'AOS', 'APA', 'APD', 'APH', 'APTV', 'ARE', 'ARNC', 'ATVI',
         'AVB', 'AVGO', 'AVY', 'AWK', 'AXP', 'AYI', 'AZO', 'BA', 'BAC', 'BAX', 'BBT', 'BBY', 'BDX', 'BEN', 'BF.B', 'BHF', 
         'BHGE', 'BIIB', 'BK', 'BLK', 'BLL', 'BMY','BRK.B', 'BSX', 'BWA', 'BXP', 'C', 'CA', 'CAG', 'CAH', 'CAT', 'CB', 'CBG', 'CBOE', 
         'CBS', 'CCI', 'CCL', 'CDNS', 'CELG', 'CERN', 'CF', 'CFG', 'CHD', 'CHK', 'CHRW', 'CHTR', 'CI', 'CINF', 'CL', 'CLX', 'CMA',
         'CMCSA', 'CME', 'CMG', 'CMI', 'CMS', 'CNC', 'CNP', 'COF', 'COG', 'COL', 'COO', 'COP', 'COST', 'COTY', 'CPB', 'CRM', 'CSCO',
         'CSRA', 'CSX', 'CTAS', 'CTL', 'CTSH', 'CTXS', 'CVS', 'CVX', 'CXO', 'D', 'DAL', 'DE', 'DFS', 'DG', 'DGX', 'DHI', 'DHR',
         'DIS', 'DISCA', 'DISCK', 'DISH', 'DLR', 'DLTR', 'DOV', 'DPS', 'DRE', 'DRI', 'DTE', 'DUK', 'DVA', 'DVN', 'DWDP', 'DXC',
         'EA', 'EBAY', 'ECL', 'ED', 'EFX', 'EIX', 'EL', 'EMN', 'EMR', 'EOG', 'EQIX', 'EQR', 'EQT', 'ES', 'ESRX', 'ESS',  'ETFC', 
         'ETN', 'ETR', 'EVHC', 'EW', 'EXC', 'EXPD', 'EXPE', 'EXR', 'F', 'FAST', 'FB', 'FBHS', 'FCX', 'FDX', 'FE', 'FFIV',
         'FIS', 'FISV', 'FITB','FL', 'FLIR', 'FLR', 'FLS', 'FMC', 'FOX', 'FOXA', 'FRT', 'FTI', 'FTV', 'GD', 'GE', 'GGP', 'GILD',
         'GIS', 'GLW', 'GM', 'GOOG', 'GOOGL', 'GPC', 'GPN', 'GPS', 'GRMN', 'GS', 'GT', 'GWW', 'HAL', 'HAS', 'HBAN', 'HBI', 'HCA',
         'HCN', 'HD', 'HES', 'HIG', 'HII', 'HLT', 'HOG', 'HOLX', 'HON', 'HP', 'HPE', 'HPQ', 'HRB', 'HRL', 'HRS', 'HSIC',
         'HST', 'HSY', 'HUM', 'IBM', 'ICE', 'IDXX', 'IFF', 'ILMN', 'INCY', 'INFO', 'INTC', 'INTU', 'IP', 'IPG', 'IQV', 'IR',
         'IRM', 'ISRG', 'IT', 'ITW', 'IVZ', 'JBHT', 'JCI', 'JEC', 'JNJ', 'JNPR', 'JPM', 'JWN', 'K', 'KEY', 'KHC', 'KIM', 'KLAC',
         'KMB', 'KMI', 'KMX', 'KO', 'KORS', 'KR', 'KSS', 'KSU', 'L', 'LB', 'LEG', 'LEN', 'LH', 'LKQ', 'LLL', 'LLY', 'LMT', 'LNC',
         'LNT', 'LOW', 'LRCX', 'LUK', 'LUV', 'LYB', 'M', 'MA', 'MAA', 'MAC', 'MAR', 'MAS', 'MAT', 'MCD', 'MCHP', 'MCK', 'MCO', 'MDLZ',
         'MDT', 'MET', 'MGM', 'MHK', 'MKC', 'MLM', 'MMC', 'MMM', 'MNST', 'MO', 'MON', 'MOS', 'MPC', 'MRK', 'MRO', 'MS', 'MSFT',
         'MSI', 'MTB', 'MTD', 'MU', 'MYL', 'NAVI', 'NBL', 'NCLH', 'NDAQ', 'NEE', 'NEM', 'NFLX', 'NFX', 'NI', 'NKE', 'NLSN', 'NOC',
         'NOV', 'NRG', 'NSC', 'NTAP', 'NTRS', 'NUE', 'NVDA', 'NWL', 'NWS', 'NWSA', 'O', 'OKE', 'OMC', 'ORCL', 'ORLY', 'OXY',
         'PAYX', 'PBCT', 'PCAR', 'PCG', 'PCLN', 'PDCO', 'PEG', 'PEP', 'PFE', 'PFG', 'PG', 'PGR', 'PH', 'PHM', 'PKG', 'PKI', 'PLD', 
         'PM', 'PNC', 'PNR', 'PNW', 'PPG', 'PPL', 'PRGO', 'PRU', 'PSA', 'PSX', 'PVH', 'PWR', 'PX', 'PXD', 'PYPL', 'QCOM', 
         'QRVO', 'RCL', 'RE', 'REG', 'REGN', 'RF', 'RHI', 'RHT', 'RJF', 'RL', 'RMD', 'ROK', 'ROP', 'ROST', 'RRC', 'RSG', 'RTN', 'SBAC', 
         'SBUX', 'SCG', 'SCHW', 'SEE', 'SHW', 'SIG', 'SJM', 'SLB', 'SLG', 'SNA', 'SNI', 'SNPS', 'SO', 'SPG', 'SPGI', 'SRCL', 'SRE', 
         'STI', 'STT', 'STX', 'STZ', 'SWK', 'SWKS', 'SYF', 'SYK', 'SYMC', 'SYY', 'T', 'TAP', 'TDG', 'TEL', 'TGT', 'TIF', 'TJX',
         'TMK', 'TMO', 'TPR', 'TRIP', 'TROW', 'TRV', 'TSCO', 'TSN', 'TSS', 'TWX', 'TXN', 'TXT', 'UA', 'UAA', 'UAL', 'UDR', 'UHS',
         'ULTA', 'UNH', 'UNM', 'UNP', 'UPS', 'URI', 'USB', 'UTX', 'V','VAR', 'VFC', 'VIAB', 'VLO', 'VMC', 'VNO', 'VRSK', 
         'VRSN', 'VRTX','VTR','VZ','WAT', 'WBA','WDC','WEC', 'WFC', 'WHR', 'WLTW', 'WM', 'WMB','WMT', 'WRK', 'WU', 'WY', 'WYN', 
         'WYNN', 'XEC', 'XEL', 'XL', 'XLNX', 'XOM', 'XRAY', 'XRX', 'XYL', 'YUM', 'ZBH', 'ZION', 'ZTS']

In [10]:
tickers = random.sample(index,k=100)
tickers

['IBM',
 'ZION',
 'LRCX',
 'IVZ',
 'BWA',
 'MTB',
 'MDLZ',
 'ADP',
 'SLG',
 'HPQ',
 'MNST',
 'DAL',
 'URI',
 'KSU',
 'HRS',
 'TROW',
 'HES',
 'SRE',
 'DVN',
 'MPC',
 'FFIV',
 'MAC',
 'UNM',
 'HRL',
 'CCL',
 'SRCL',
 'DWDP',
 'PEP',
 'SYK',
 'IQV',
 'SBUX',
 'CMCSA',
 'YUM',
 'AXP',
 'NCLH',
 'NBL',
 'CLX',
 'ABBV',
 'BLL',
 'HIG',
 'ETR',
 'PGR',
 'UNH',
 'IDXX',
 'TSS',
 'CINF',
 'JWN',
 'NEE',
 'CSCO',
 'HON',
 'BF.B',
 'AAP',
 'GRMN',
 'IFF',
 'EQIX',
 'XOM',
 'TSCO',
 'KR',
 'EVHC',
 'XEC',
 'FMC',
 'PAYX',
 'MAA',
 'ESS',
 'COF',
 'MCHP',
 'PFE',
 'ADSK',
 'WRK',
 'EXC',
 'APH',
 'GS',
 'CERN',
 'WBA',
 'AMP',
 'CHTR',
 'LLY',
 'CHRW',
 'DFS',
 'WU',
 'MSI',
 'LB',
 'TRV',
 'PM',
 'DXC',
 'AMD',
 'QCOM',
 'PCLN',
 'DOV',
 'VAR',
 'PCAR',
 'EBAY',
 'VNO',
 'MCO',
 'ALK',
 'SBAC',
 'AGN',
 'DISCA',
 'FDX',
 'MGM']

In [11]:
data_df = pd.DataFrame()

In [12]:
index = ['DXC', 'BBY', 'AMG', 'CNP', 'WMT', 'MRK', 'NEM', 'VFC', 'MDT', 'HST', 'MTD', 'CCI', 'KMI',
 'RMD', 'LUV', 'NWS', 'AMGN', 'APD', 'TGT', 'MYL', 'GPC', 'FCX', 'UA', 'DISCK', 'FISV', 'ACN',
 'SRCL', 'IT', 'PHM', 'ALB', 'AAPL', 'EFX', 'FE', 'COST', 'GWW', 'M', 'CRM', 'LKQ', 'AON',
 'PEP', 'RJF', 'ORCL', 'MHK', 'PPL', 'FMC', 'OKE', 'EQR', 'RCL', 'IRM', 'BA', 'ABC', 'GIS',
 'SYF', 'BMY', 'ADBE', 'SNPS', 'BWA', 'MSI', 'COF', 'LYB', 'RTN', 'FFIV', 'HLT', 'CVS', 'NEE',
 'KMX', 'INCY', 'MGM', 'AES', 'GM', 'FDX', 'ADP', 'HOLX', 'NRG', 'NBL', 'MSFT', 'COG', 'OXY',
 'GOOGL', 'CSRA', 'HRB', 'AJG', 'CINF', 'TXN', 'ETN', 'EXPE', 'TMO', 'BSX', 'CTAS', 'WBA', 'UNH',
 'HSY', 'FB', 'EIX', 'SBUX', 'MCO', 'HII', 'RL', 'LNT', 'AXP']

In [13]:
tickers1 = ['DXC', 'BBY', 'AMG', 'CNP', 'WMT', 'MRK', 'NEM', 'VFC', 'MDT', 'HST', 'MTD', 'CCI', 'KMI']
start_date = pd.to_datetime('2015-1-1')
end_date = pd.to_datetime('2020-1-10')
stocks_df1 = pd.DataFrame()

for t in tickers1:
    stocks_df1[t]=wb.DataReader(t, data_source = 'yahoo', start = start_date, end = end_date) ['Adj Close']

In [14]:
tickers3 = ['RMD', 'LUV', 'NWS', 'AMGN', 'APD', 'TGT', 'MYL', 'GPC', 'FCX', 'KO', 'DISCK', 'FISV', 'ACN']
start_date = pd.to_datetime('2015-1-1')
end_date = pd.to_datetime('2020-1-10')
stocks_df3 = pd.DataFrame()

for t in tickers3:
    stocks_df3[t]=wb.DataReader(t, data_source = 'yahoo', start = start_date, end = end_date) ['Adj Close']

In [15]:
tickers4 = ['SRCL', 'IT', 'PHM', 'ALB', 'AAPL', 'EFX', 'FE', 'COST', 'GWW', 'M', 'CRM', 'LKQ', 'AON']
start_date = pd.to_datetime('2015-1-1')
end_date = pd.to_datetime('2020-1-10')
stocks_df4 = pd.DataFrame()

for t in tickers4:
    stocks_df4[t]=wb.DataReader(t, data_source = 'yahoo', start = start_date, end = end_date) ['Adj Close']

In [16]:
tickers5 = ['PEP', 'RJF', 'ORCL', 'MHK', 'PPL', 'FMC', 'OKE', 'EQR', 'RCL', 'IRM', 'BA', 'ABC', 'GIS']
start_date = pd.to_datetime('2015-1-1')
end_date = pd.to_datetime('2020-1-10')
stocks_df5 = pd.DataFrame()

for t in tickers5:
    stocks_df5[t]=wb.DataReader(t, data_source = 'yahoo', start = start_date, end = end_date) ['Adj Close']

In [17]:
tickers6 = ['SYF', 'BMY', 'ADBE', 'SNPS', 'BWA', 'MSI', 'COF', 'LYB', 'RTN', 'FFIV', 'HLT', 'CVS', 'NEE']
start_date = pd.to_datetime('2015-1-1')
end_date = pd.to_datetime('2020-1-10')
stocks_df6 = pd.DataFrame()

for t in tickers6:
    stocks_df6[t]=wb.DataReader(t, data_source = 'yahoo', start = start_date, end = end_date) ['Adj Close']

In [18]:
tickers7 = ['KMX', 'INCY', 'MGM', 'AES', 'GM', 'FDX', 'ADP', 'HOLX', 'NRG', 'NBL', 'MSFT', 'COG', 'OXY']
start_date = pd.to_datetime('2015-1-1')
end_date = pd.to_datetime('2020-1-10')
stocks_df7 = pd.DataFrame()

for t in tickers7:
    stocks_df7[t]=wb.DataReader(t, data_source = 'yahoo', start = start_date, end = end_date) ['Adj Close']

In [19]:
tickers8 = ['GOOGL','GS', 'HRB', 'AJG', 'CINF', 'TXN', 'ETN', 'EXPE', 'TMO', 'BSX', 'CTAS', 'WBA', 'UNH']
start_date = pd.to_datetime('2015-1-1')
end_date = pd.to_datetime('2020-1-10')
stocks_df8 = pd.DataFrame()

for t in tickers8:
    stocks_df8[t]=wb.DataReader(t, data_source = 'yahoo', start = start_date, end = end_date) ['Adj Close']

In [20]:
tickers9 = [ 'HSY', 'FB', 'EIX', 'SBUX', 'MCO', 'HII', 'RL', 'LNT', 'AXP']
start_date = pd.to_datetime('2015-1-1')
end_date = pd.to_datetime('2020-1-10')
stocks_df9 = pd.DataFrame()

for t in tickers9:
    stocks_df9[t]=wb.DataReader(t, data_source = 'yahoo', start = start_date, end = end_date) ['Adj Close']

In [21]:
combined_df_1 = pd.concat([stocks_df1,stocks_df3,stocks_df4,stocks_df5,stocks_df6,stocks_df7,stocks_df8,stocks_df9], axis = 'columns', join='inner')
#combined_df_1.reset_index(inplace = True)
combined_df_1

,DXC,BBY,AMG,CNP,WMT,MRK,NEM,VFC,MDT,HST,...,UNH,HSY,FB,EIX,SBUX,MCO,HII,RL,LNT,AXP
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-02,21.286510,33.869621,204.065598,18.782833,75.800331,49.132111,17.923134,60.863708,64.685036,18.943111,...,93.161888,91.816597,78.449997,55.423393,37.132599,89.816803,104.540627,164.706375,28.115042,85.741974
2015-01-05,20.855738,32.996471,196.666382,18.186682,75.579727,49.862339,18.034346,60.352108,64.415070,18.791948,...,91.627373,91.170326,77.190002,55.288025,36.421303,88.055870,102.971252,160.010773,27.772594,83.474472
2015-01-06,20.909586,32.699589,192.428558,17.781296,76.162109,51.821095,18.785009,59.997307,64.091087,18.712391,...,91.442474,91.471321,76.150002,55.499523,36.124943,87.128571,106.754547,156.889389,27.683804,81.695465
2015-01-07,21.061031,33.642605,197.151260,18.011810,78.182854,52.929340,18.618195,60.764694,65.692909,18.815811,...,92.376137,93.082603,76.150002,56.430172,37.014053,88.458626,106.567703,160.820389,28.140408,83.479713
2015-01-08,21.299976,34.149033,199.158630,18.441044,79.833008,53.994629,18.516251,62.134457,67.267754,19.014713,...,96.785576,94.879814,78.180000,56.743195,37.611340,89.320381,109.986694,160.631485,28.584330,84.663033
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-06,35.330002,87.910004,83.008774,26.463535,117.650002,91.639999,43.259998,99.209999,114.889999,17.570000,...,291.549988,144.570007,212.600006,75.129997,87.721161,241.869995,265.000000,119.809998,53.404282,124.059998
2020-01-07,35.849998,88.410004,82.072395,26.582251,116.559998,89.199997,43.230000,98.720001,114.489998,17.520000,...,289.790009,144.850006,213.059998,75.860001,87.452415,241.000000,267.459991,120.330002,53.453960,123.410004
2020-01-08,36.459999,88.650002,82.211853,26.354712,116.160004,88.599998,42.080002,97.040001,116.500000,17.639999,...,295.899994,146.039993,215.220001,75.739998,88.467682,245.619995,268.959991,120.000000,53.573189,125.540001
2020-01-09,36.220001,89.370003,82.610313,26.166748,117.360001,89.379997,41.660000,95.779999,118.389999,17.430000,...,294.220001,146.570007,218.300003,76.139999,90.110031,248.850006,276.010010,117.930000,54.179264,127.809998
2020-01-10,35.740002,90.650002,82.610313,26.018353,116.379997,89.529999,42.270000,95.059998,118.639999,17.520000,...,295.130005,148.130005,218.059998,75.500000,89.741745,248.029999,270.940002,117.959999,54.715794,127.279999

In [22]:
combined_monthly = combined_df_1.asfreq('M').ffill()

In [23]:
daily_returns = combined_monthly.pct_change()

In [24]:
combined_monthly.isnull().sum()/len(combined_df_1)

DXC    0.001581
BBY    0.001581
AMG    0.001581
CNP    0.001581
WMT    0.001581
         ...
MCO    0.001581
HII    0.001581
RL     0.001581
LNT    0.001581
AXP    0.001581
Length: 100, dtype: float64

In [25]:
combined_monthly.dropna(inplace = True)

In [26]:
# printing the dataset to csv 
output = 'monthly_data.csv'

with open(output, 'w') as file:
    file.write(combined_monthly.to_csv(index=False))