In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from pathlib import Path
import csv

In [2]:
stock_csv_path = Path('monthly_data.csv')
monthly_df = pd.read_csv(stock_csv_path, index_col = 'Date')
monthly_df_daily_returns = monthly_df.pct_change()

In [3]:
monthly_df_daily_returns.head()

,DXC,BBY,AMG,CNP,WMT,MRK,NEM,VFC,MDT,HST,...,UNH,HSY,FB,EIX,SBUX,MCO,HII,RL,LNT,AXP
Date,,,,,,,,,,,,,,,,,,,,,
2/27/2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3/31/2015,-0.072857,-0.002622,-0.007578,-0.018278,-0.014131,-0.010162,-0.174545,-0.013202,0.009122,-0.029476,...,0.044493,-0.027654,0.041155,-0.021137,0.012942,0.070765,-0.005552,-0.039418,-0.009434,-0.039329
4/30/2015,-0.012714,-0.083091,0.052845,0.027437,-0.051064,0.036186,0.220175,-0.038242,-0.045391,-0.001982,...,-0.058247,-0.089090,-0.041961,-0.024492,0.047096,0.035838,-0.061077,0.014524,-0.031611,-0.008577
5/31/2015,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6/30/2015,0.025611,-0.052519,-0.033299,-0.081165,-0.085489,-0.036887,-0.117304,-0.032477,0.000349,-0.005595,...,0.099791,-0.028147,0.088866,-0.081105,0.084925,0.007206,-0.141581,-0.004303,-0.045477,0.007241

In [4]:
monthly_df_daily_returns.shape

(59, 100)

In [5]:
monthly_df_daily_returns.dropna(inplace = True)
monthly_df_daily_returns.shape

(58, 100)

In [6]:
monthly_df_daily_returns.index = pd.DatetimeIndex(monthly_df_daily_returns.index)

In [7]:
monthly_df_daily_returns.index

DatetimeIndex(['2015-03-31', '2015-04-30', '2015-05-31', '2015-06-30',
               '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-31',
               '2015-11-30', '2015-12-31', '2016-01-31', '2016-02-29',
               '2016-03-31', '2016-04-30', '2016-05-31', '2016-06-30',
               '2016-07-31', '2016-08-31', '2016-09-30', '2016-10-31',
               '2016-11-30', '2016-12-31', '2017-01-31', '2017-02-28',
               '2017-03-31', '2017-04-30', '2017-05-31', '2017-06-30',
               '2017-07-31', '2017-08-31', '2017-09-30', '2017-10-31',
               '2017-11-30', '2017-12-31', '2018-01-31', '2018-02-28',
               '2018-03-31', '2018-04-30', '2018-05-31', '2018-06-30',
               '2018-07-31', '2018-08-31', '2018-09-30', '2018-10-31',
               '2018-11-30', '2018-12-31', '2019-01-31', '2019-02-28',
               '2019-03-31', '2019-04-30', '2019-05-31', '2019-06-30',
               '2019-07-31', '2019-08-31', '2019-09-30', '2019-10-31',
               '2019-11-30', '2019-12-31'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [26]:
ffm_csv_path = Path('F-F_Research_Data_Factors.csv')
ffm_data = pd.read_csv(ffm_csv_path, index_col='Date')
ffm_data.shape

(58, 4)

In [27]:
ffm_data.index

Index(['3/31/15', '4/30/15', '5/31/15', '6/30/15', '7/31/15', '8/31/15',
       '9/30/15', '10/31/15', '11/30/15', '12/31/15', '1/31/16', '2/29/16',
       '3/31/16', '4/30/16', '5/31/16', '6/30/16', '7/31/16', '8/31/16',
       '9/30/16', '10/31/16', '11/30/16', '12/31/16', '1/31/17', '2/28/17',
       '3/31/17', '4/30/17', '5/31/17', '6/30/17', '7/31/17', '8/31/17',
       '9/30/17', '10/31/17', '11/30/17', '12/31/17', '1/31/18', '2/28/18',
       '3/31/18', '4/30/18', '5/31/18', '6/30/18', '7/31/18', '8/31/18',
       '9/30/18', '10/31/18', '11/30/18', '12/31/18', '1/31/19', '2/28/19',
       '3/31/19', '4/30/19', '5/31/19', '6/30/19', '7/31/19', '8/31/19',
       '9/30/19', '10/31/19', '11/30/19', '12/31/19'],
      dtype='object', name='Date')

In [28]:
ffm_data.index = pd.DatetimeIndex(ffm_data.index)

In [29]:
reg = linear_model.LinearRegression()

In [30]:
reg = linear_model.LinearRegression()
fit = reg.fit(X=ffm_data[['SMB','HML','RF']],
              y=monthly_df_daily_returns.AAPL)

In [31]:
fit.coef_

array([ 0.00493159, -0.00134568,  0.15507276])

In [32]:
import statsmodels.api as sm
from statsmodels.regression import linear_model as lm

In [38]:
temp_var = results_dict['AAPL']

In [40]:
temp_var

In [41]:
results_dict = {}
params = {}

for ticker in monthly_df_daily_returns.columns:
    results_dict[ticker] = lm.OLS(endog=monthly_df_daily_returns.loc[:,ticker],
                  exog=sm.add_constant(ffm_data[['SMB','HML','RF']])).fit()
    
    params[ticker] = results_dict[ticker].params

In [46]:
params

AttributeError: 'dict' object has no attribute 'head'

In [43]:
temp_df = pd.DataFrame.from_dict(params, orient='index', columns = ['const', 'SMB', 'HML', 'RF'])
temp_df

        const       SMB       HML        RF
DXC  0.054602  0.006667 -0.010830 -0.471852
BBY  0.019541  0.002211  0.004370  0.037560
AMG  0.000376  0.007329  0.002759 -0.129089
CNP  0.012997 -0.001113 -0.000859 -0.048640
WMT -0.000909 -0.005975  0.000550  0.115350
..        ...       ...       ...       ...
MCO  0.010974  0.006066 -0.003062  0.091236
HII  0.019722  0.001667 -0.000449 -0.071924
RL  -0.008081  0.009828  0.004103  0.161168
LNT  0.009055 -0.001988 -0.001094  0.039521
AXP  0.001631  0.002037  0.003925  0.117401

[100 rows x 4 columns]

In [44]:
#temp_df_data = Path("../CollaborativeProject1/")

#temp_df.to_csv(Path"../CollaborativeProject1")

temp_df.to_csv('params.csv')