In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from pathlib import Path

In [2]:
stock_csv_path = Path('monthly_data.csv')
monthly_df = pd.read_csv(stock_csv_path, index_col = 'Date')
monthly_df_daily_returns = monthly_df.pct_change()

In [3]:
monthly_df_daily_returns.head()

,DXC,BBY,AMG,CNP,WMT,MRK,NEM,VFC,MDT,HST,...,UNH,HSY,FB,EIX,SBUX,MCO,HII,RL,LNT,AXP
Date,,,,,,,,,,,,,,,,,,,,,
2/27/2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3/31/2015,-0.072857,-0.002622,-0.007578,-0.018278,-0.014131,-0.010162,-0.174545,-0.013202,0.009122,-0.029476,...,0.044493,-0.027654,0.041155,-0.021137,0.012942,0.070765,-0.005552,-0.039418,-0.009434,-0.039329
4/30/2015,-0.012714,-0.083091,0.052845,0.027437,-0.051064,0.036186,0.220175,-0.038242,-0.045391,-0.001982,...,-0.058247,-0.089090,-0.041961,-0.024492,0.047096,0.035838,-0.061077,0.014524,-0.031611,-0.008577
5/31/2015,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6/30/2015,0.025611,-0.052519,-0.033299,-0.081165,-0.085489,-0.036887,-0.117304,-0.032477,0.000349,-0.005595,...,0.099791,-0.028147,0.088866,-0.081105,0.084925,0.007206,-0.141581,-0.004303,-0.045477,0.007241

In [4]:
monthly_df_daily_returns.shape

(59, 100)

In [5]:
monthly_df_daily_returns.dropna(inplace = True)
monthly_df_daily_returns.shape

(58, 100)

In [6]:
monthly_df_daily_returns.index = pd.DatetimeIndex(monthly_df_daily_returns.index)

In [7]:
monthly_df_daily_returns.index

DatetimeIndex(['2015-03-31', '2015-04-30', '2015-05-31', '2015-06-30',
               '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-31',
               '2015-11-30', '2015-12-31', '2016-01-31', '2016-02-29',
               '2016-03-31', '2016-04-30', '2016-05-31', '2016-06-30',
               '2016-07-31', '2016-08-31', '2016-09-30', '2016-10-31',
               '2016-11-30', '2016-12-31', '2017-01-31', '2017-02-28',
               '2017-03-31', '2017-04-30', '2017-05-31', '2017-06-30',
               '2017-07-31', '2017-08-31', '2017-09-30', '2017-10-31',
               '2017-11-30', '2017-12-31', '2018-01-31', '2018-02-28',
               '2018-03-31', '2018-04-30', '2018-05-31', '2018-06-30',
               '2018-07-31', '2018-08-31', '2018-09-30', '2018-10-31',
               '2018-11-30', '2018-12-31', '2019-01-31', '2019-02-28',
               '2019-03-31', '2019-04-30', '2019-05-31', '2019-06-30',
               '2019-07-31', '2019-08-31', '2019-09-30', '2019-10-31',
               '2019-11-30', '2019-12-31'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [8]:
ffm_csv_path = Path('F-F_Research_Data_Factors.csv')
ffm_data = pd.read_csv(ffm_csv_path, index_col='Date')
ffm_data.shape

(58, 4)

In [66]:
ffm_data = ffm_data/100

In [10]:
ffm_data.index = pd.DatetimeIndex(ffm_data.index)

In [67]:
reg = linear_model.LinearRegression()

In [68]:
reg = linear_model.LinearRegression()
fit = reg.fit(X=ffm_data[['SMB','HML','RF']],
              y=monthly_df_daily_returns.AAPL)

In [69]:
fit.coef_

array([ 0.49315924, -0.13456823, 15.50727616])

In [70]:
import statsmodels.api as sm
from statsmodels.regression import linear_model as lm

In [71]:
temp_var = results_dict['AAPL']

In [72]:
results_dict = {}
params = {}

for ticker in monthly_df_daily_returns.columns:
    results_dict[ticker] = lm.OLS(endog=monthly_df_daily_returns.loc[:,ticker],
                  exog=sm.add_constant(ffm_data[['Mkt-RF','SMB','HML']])).fit()
    
    params[ticker] = results_dict[ticker].params

C:\Users\nikki\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [73]:
# params

In [74]:
mkt_rf_mean = ffm_data['Mkt-RF'].mean()
smb_mean = ffm_data['SMB'].mean()
hml_mean = ffm_data['HML'].mean()
rf_mean = ffm_data['RF'].mean()

In [75]:
mkt_rf_mean

0.008677586206896553

In [76]:
smb_mean

-0.0014310344827586205

In [77]:
hml_mean

-0.002867241379310345

In [78]:
rf_mean

0.0008482758620689655

In [79]:
ffm_constants = pd.DataFrame.from_dict(params, orient='index',
                       columns=['Mkt-RF','const', 'SMB', 'HML'])
ffm_constants

       Mkt-RF     const       SMB       HML
DXC  1.384191  0.002706  0.217156 -0.809495
BBY  1.079844  0.012832 -0.249594  0.489003
AMG  1.369161 -0.022845  0.188433  0.412117
CNP  0.502963  0.004366 -0.310998 -0.035387
WMT  0.706901  0.002256 -0.932470  0.052918
..        ...       ...       ...       ...
MCO  1.046873  0.009035  0.134072 -0.277574
HII  0.834222  0.006134 -0.167012  0.035447
RL   0.871189 -0.002597  0.564390  0.400176
LNT  0.340003  0.009248 -0.355165 -0.104039
AXP  0.780362  0.004298 -0.163113  0.394211

[100 rows x 4 columns]

In [80]:
ffm_returns_monthly = ffm_constants['const'] + ffm_constants['Mkt-RF'] * mkt_rf_mean + ffm_constants['SMB'] * smb_mean + ffm_constants['HML'] * hml_mean + rf_mean

In [82]:
ffm_returns_annual = ffm_returns_monthly * 12
ffm_returns_annual

DXC    0.210906
BBY    0.264073
AMG   -0.138798
CNP    0.121502
WMT    0.125055
         ...
MCO    0.234858
HII    0.172310
RL     0.046267
LNT    0.166244
AXP    0.132252
Length: 100, dtype: float64

In [83]:
ffm_returns_annual.sort_values(ascending = False, inplace = True)
ffm_returns_annual.head(20)

ADBE    0.329761
MSFT    0.322501
CTAS    0.285973
BBY     0.264073
SNPS    0.258979
FISV    0.249903
UNH     0.243094
FB      0.238789
RMD     0.236317
AAPL    0.236049
MCO     0.234858
BSX     0.233861
BA      0.233236
MTD     0.232895
MSI     0.231468
OKE     0.230148
NEE     0.227986
ACN     0.225818
TXN     0.224912
TMO     0.223396
dtype: float64