In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from pathlib import Path

In [6]:
#importing the monthly_df
stock_csv_path = Path('monthly_data.csv')
monthly_df = pd.read_csv(stock_csv_path, index_col = 'Date')
monthly_df.head(3)

,DXC,BBY,AMG,CNP,WMT,MRK,NEM,VFC,MDT,HST,...,UNH,HSY,FB,EIX,SBUX,MCO,HII,RL,LNT,AXP
Date,,,,,,,,,,,,,,,,,,,,,
3/31/15,22.128880,33.179913,209.090057,16.580273,73.015411,49.780846,20.141970,62.421577,70.460373,16.215014,...,109.714111,89.785667,82.220001,53.208439,43.336098,97.564026,131.290314,118.733910,26.846176,72.461044
4/30/15,21.847523,30.422970,220.139389,17.035191,69.286972,51.582237,24.576731,60.034454,67.262138,16.182875,...,103.323639,81.786682,78.769997,51.905262,45.377064,101.060547,123.271454,120.458458,25.997549,71.839569
5/31/15,21.847523,30.422970,220.139389,17.035191,69.286972,51.582237,24.576731,60.034454,67.262138,16.182875,...,103.323639,81.786682,78.769997,51.905262,45.377064,101.060547,123.271454,120.458458,25.997549,71.839569

In [10]:
#importing the mmf_df
ffm_csv_path = Path('F-F_Research_Data_Factors.csv')
ffm_data = pd.read_csv(ffm_csv_path, index_col='Date')
ffm_data.head()

,DXC,BBY,AMG,CNP,WMT,MRK,NEM,VFC,MDT,HST,...,UNH,HSY,FB,EIX,SBUX,MCO,HII,RL,LNT,AXP
Date,,,,,,,,,,,,,,,,,,,,,
1/31/15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2/28/15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3/31/15,22.128880,33.179913,209.090057,16.580273,73.015411,49.780846,20.141970,62.421577,70.460373,16.215014,...,109.714111,89.785667,82.220001,53.208439,43.336098,97.564026,131.290314,118.733910,26.846176,72.461044
4/30/15,21.847523,30.422970,220.139389,17.035191,69.286972,51.582237,24.576731,60.034454,67.262138,16.182875,...,103.323639,81.786682,78.769997,51.905262,45.377064,101.060547,123.271454,120.458458,25.997549,71.839569
5/31/15,21.847523,30.422970,220.139389,17.035191,69.286972,51.582237,24.576731,60.034454,67.262138,16.182875,...,103.323639,81.786682,78.769997,51.905262,45.377064,101.060547,123.271454,120.458458,25.997549,71.839569

In [13]:
reg = linear_model.LinearRegression()
reg

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [12]:
reg.fit(ffm_data[['SMB','HML','RF']],monthly_df)

KeyError: "None of [Index(['SMB', 'HML', 'RF'], dtype='object')] are in the [columns]"

In [ ]:
#retrieving the 3 beta coefficients
reg.coef_

In [ ]:
#retrieving the y intercept 
reg.intercept_